@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: none;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}

main {
  flex: 1;
}

/* 이미지 슬라이더 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glass {
  /* background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 100%
  ); */
  box-shadow: -8px 8px 50px 0px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); */
  border-radius: 22px;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.headerglass {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  box-shadow: -8px 8px 50px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* about 페이지 애니메이션 */
/* 텍스트 애니메이션 */
.about-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease, transform 0.5s ease;
}
.about-text.active {
  /* animation-delay: 1s; */
  animation: moveText 2.5s ease forwards;
}
@keyframes moveText {
  0% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  48% {
    /* moveCard 멈추는게 끝나는 시간 */
    top: 50%;
    transform: translate(-50%, -50%);
  }
  80% {
    top: 200px;
    transform: translate(-50%, 0%);
  }
  100% {
    top: 82px;
    transform: translate(-50%, 0%);
  }
}
@media (max-width: 767px) {
  .about-text.active {
    animation-name: moveTextMd;
  }

  @keyframes moveTextMd {
    0% {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    48% {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    80% {
      top: 270px;
      transform: translate(-50%, 0%);
    }
    100% {
      top: 200px;
      transform: translate(-50%, 0%);
    }
  }
}

/* 카드 애니메이션 */
.about-card {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.about-card.active {
  animation: moveCard 2s ease forwards;
}
@keyframes moveCard {
  0% {
    top: 110%;
    transform: translate(-50%, 0%);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  60% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 334px; /* 162px(80+82) + 200 */
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .about-card.active {
    animation-name: moveCardMd;
  }
  @keyframes moveCardMd {
    0% {
      top: 110%;
      transform: translate(-50%, 0%);
    }
    50% {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    60% {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 328px; /* 234px(34+200) + 100 */
      transform: translate(-50%, -50%);
    }
  }
}

/* 설명 애니메이션 */
.about-desc {
  position: absolute;
  top: 552px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0%);
}
.about-desc.active {
  animation: showDesc 0.5s ease forwards;
  animation-delay: 2.5s;
}
@keyframes showDesc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .about-desc {
    top: 444px;
  }
  .about-desc.active {
    animation-name: showDescMd;
  }

  @keyframes showDescMd {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* 스크롤 */
.scroll::-webkit-scrollbar {
  display: none;
}
